* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	
}
#contenedor {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
}
#contenedorTabla {
	width: 40vw;
	height: 50vh;
	background-color: orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h2 {
	margin-bottom: 20px;
}
input {
	display: block;
	width: 80%;
	height: 30px;
	margin-bottom: 20px;
}