<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta charset="ISO-8859-1">
<title>Lista Tabla</title>
<!-- <link href="css/estilo.css" rel="stylesheet" type="text/css"/> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}"
	href="/css/estilo.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
</head>
<body>
	<div id="contenedor">
		<nav id=navegacion>
			<a id="sesionLogout" href="#" value="1">cerrar sesion</a>
		</nav>


		<!-- <select name="select">
		<option id="opciones" th:each="centro : ${centros}"
			th:value="${centro.id}" th:text="${centro.nombreCentro}"></option>
	</select> -->

		<aside id=asideItems>
			<a class="opciones" th:each="centro : ${centros}"
				th:value="${centro.id}" th:text="${centro.nombreCentro}"></a>
		</aside>

		<table id="tabla">
			<thead>
				<tr id="fila cabecera">
					<th class="celda celdaCabecera">id</th>
					<th class="celda celdaCabecera">nombre</th>
					<th class="celda celdaCabecera">apellido</th>
					<th class="celda celdaCabecera">funcion</th>
					<th class="celda celdaCabecera">domicilio</th>
					<th class="celda celdaCabecera">oficina</th>
					<th class="celda celdaCabecera">horario</th>
					<th class="celda celdaCabecera">legajo</th>
				</tr>
			</thead>
			<tbody>

			</tbody>

			<!-- 		<tr th:each="persona : ${personas}">
			<td id="celda" th:text="${persona.id}">sd-4</td>
			<td id="celda" th:text="${persona.nombre}">sd-4</td>
			<td id="celda" th:text="${persona.apellido}">sd-4</td>
			<td id="celda" th:text="${persona.funcion}">sd-4</td>
			<td id="celda" th:text="${persona.domicilio}">sd-4</td>
			<td id="celda" th:text="${persona.oficina}">sd-4</td>
			<td id="celda" th:text="${persona.horario}">sd-4</td>
			<td id="celda" th:text="${persona.legajo}">sd-4</td>
		</tr> -->
		</table>
		<footer>sdfsdf</footer>
		<script type="text/javascript" th:src="@{/js/evento.js}"
			src="/js/evento.js"></script>
	</div>
</body>
</html>